{% extends 'base.html' %}
{% block content %}
{% load i18n %}

    <main>
        <div class="container">
            <!-- Центральный блок -->
            <section class="news">
                <h2>Latest News</h2>
                <article>
                    <h3>EduConnect Launches New Features!</h3>
                    <img src="http://www.das.am/images/news/2c105567-237b-4dc4-bb34-efb9f908eaa9.jpg" alt="">
                    <p>Պետության համար առաջնային կարևորության մասնագիտությունների համար ուսանողական կրթաթոշակները կբարձրանան.</p>
                </article>
                <article>
                    <h3>Կազմակերպության ընտրության մրցույթ</h3>
                    <img src="http://www.das.am/images/news/600aedf4-2961-4056-af6a-9687f2e069f7.jpg" alt="">
                    <p>ՀՀ գիտության կոմիտեն հայտարարում է ՀՀ 2023 թվականի պետական բյուջեով նախատեսված «Երիտասարդ գիտնականների աջակցության ծրագրին» պետական աջակցություն» միջոցառումն իրականացնելու համար կազմակերպության ընտրության ՄՐՑՈՒՅԹ:</p>
                </article>
                
            </section>

            <!-- Сайдбар -->
            <aside class="sidebar">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="profile.html">My Profile</a></li>
                    <li><a href="courses.html">Browse Courses</a></li>
                    <li><a href="jobs.html">Find Jobs</a></li>
                    <li><a href="messages.html">Messages</a></li>
                </ul>
                <h2>Trending Topics</h2>
                <ul>
                    <li><a href="#">AI in Education</a></li>
                    <li><a href="#">Top 10 Skills for 2025</a></li>
                    <li><a href="#">How to Build Your Resume</a></li>
                </ul>
            </aside>
        </div>
    </main>

{% endblock %}